title-bar {
  margin: 200px !important;
  color: green !important;
  
}

.menu {
  flex: 1;
  color: red;
}

.title {
  flex: 2;
  color: purple;
}

.title-bar-contained {
  display: flex;
  background-color: green;
}

.LoginInterior {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}