body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.card-set {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  border: red 1px solid;
}

.card {
  width: 20%;
}
